<%- include('../partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Supprimer un jeux.</h1>
      <form action="" method="DELETE">
        <div class="mb-3">
          <label class="form-label">Nom du jeux</label>
          <input type="text" id="exampleFormControlSelect1" name="jeuId">
        </div>
        <button type="submit" class="btn btn-primary">Supprimer</button>
      </form>
    </div>
  </div>
</div>
  <%- include('../partials/footer')-%>