<%- include('../partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Connection.</h1>
      <% if(message.length > 0) { %>
        <div class="alert alert-success" role="alert"><%=message%></div>
      <% } %>
      <form action="" method="POST">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email">
          <label class="form-label">Mot de passe</label>
          <input type="password" class="form-control" name="motdepasse">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
  <%- include('../partials/footer')-%>