<%- include('../partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ajouter un utilisateur.</h1>
      <form action="" method="POST">
        <div class="mb-3">
          <label class="form-label">Nom</label>
          <input type="text" class="form-control" name="nom">
          <label class="form-label">Prenom</label>
          <input type="text" class="form-control" name="prenom">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email">
          <label class="form-label">Mot de passe</label>
          <input type="password" class="form-control" name="motdepasse">
          <label class="form-label">Role de l'utilisateur</label>
          <select class="form-control" id="exampleFormControlSelect1" name="role">
            <option value="1">Administrateur</option>
            <option value="2">Employé</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
  <%- include('../partials/footer')-%>